.data {
  position: absolute;
  margin-top: 8%;
  font-size: 25px;
  margin-left: 4%;

}

ul {
  /* display: flex; */
  margin-left: 10px;
}

.bttn {
  height: 20px;
  background-color: rgb(241, 10, 10);
  color: aliceblue;
  border: 0px;
  border-radius: 4px;
}